@import url('https://fonts.googleapis.com/css2?family=Marmelad&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0 auto;
    font-size: 36px;
    font-family:"Marmelad";
    font-style: normal;
    background-color: #A85A8F;
}

.container {
    margin-left: 100px;
    margin-right: 200px;
    display: flex;
    justify-content: space-between;
}

.about {
    display: flex;
    align-items: start;
    margin: 100px;
}

.adoption {
    display: flex;
    margin: 100px;
    justify-content: center;
    flex-wrap: wrap;
}

.header {
    height: 120px;
    background-color: #242041;
    font-family: "Montserrat";
}

.footer {
    height: 200px;
    background-color: #242041;
    font-family: "Montserrat";
}

ul {
    display: flex;
    justify-content: space-between;
}

h1 {
    font-size: 48px;
}

a {
    padding-left: 50px;
    padding-top: 20px;
    text-decoration: none;
}

li {
    list-style: none;
    font-size: 48px;
}

img {
    max-width: 605px;
    max-height: 605px;
}

.dollar {
    position: fixed;
    top: 85vh;
    left: 90vw;
    max-width: 100px;
    max-height: 100px;
    transition: 1s;
}

.dollar:hover {
    top: 80vh;
}

.vk{
    max-width: 100px;
    max-height: 100px;
}

@media (max-width:1550px) {
    img {
        max-width: 450px;
        max-height: 450px;
    }
}

@media (max-width:1380px) {
    .about {
        flex-wrap: wrap;
        justify-content: center;
    }
    .dollar {
        left: 88vw;
    }
    .container {
        padding-left: 50px;
    }
}

@media (max-width:1200px) {
    .container {
        margin-right: 100px;
    }
    h1 {
        font-size: 36px;
    }
    li {
        font-size: 36px;
    }
    body {
        font-size: 30px;
    }
    .dollar {
        top: 80vh;
        left: 85vw;
    }
    .dollar:hover {
        top: 75vh;
    }
}

@media (max-width:1000px) {
    .dollar {
        max-width: 75px;
        max-height: 75px;
    }
}
